.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;

    height: 56px;

    border-radius: 18px;
}
.M_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 0px 16px;
    color: #E2E5E9;
    width: 100%;
    height: 40px;
    background-image: url(../../img/Shape.svg);
    background-color: #12151B;
    border: 1px solid #004CCC;
    border-radius: 20px;
    

}



.M_input [input=submit]{
    width: auto;
    height: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #8A898E;

    mix-blend-mode: normal;
}
.users{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 8px 0px 0px;
    height: 100%;
    }

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  0px;

    width: 100%;
}

.user img{

}

.av_text{
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
